* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

@font-face {
    font-family: omyu;
    src: url("../font/오뮤_다예쁨체.ttf");
}

body {
    font-family: omyu;
}

button {
    font-family: omyu;
}

.clearFix::after {
    content: '';
    display: block;
    clear: both;
}

.container {
    margin: auto;
}

.top>ul>li {
    width: 14%;
}

body {
    background-color: white
}

.head {
    width: 100%;
    height: 120px;
    background-color: white;
    position: fixed;
    z-index: 3;
    border-bottom: 1px solid black;

}

.header-top {
    width: 100%;
    background-color: #fff;
    height: 30px;
    position: fixed;
    color: black;
    z-index: 10;
    text-align: right;
    padding-top: 5px;
}

.header-top2 {
    width: 1184px;
    margin: auto;
}

.header-top2 a {
    padding-right: 10px;
}

.header-top hr {
    background-color: rgb(223, 222, 222);
    height: 1px;
    border: 0;
}

.top {
    height: 100%;
    width: 1184px;
    padding: 40px 20px 0px;
    position: relative;
}

s .toplogo {
    margin-bottom: 50px;
}

.head.active {
    height: 400px;
}

.subtopmenu {
    padding-top: 50px;
    display: none;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    position: absolute;
    right: 3px;
}

.subtopmenu li {
    font-size: 19px;
    padding-top: 6px;
}

.top>ul {
    display: flex;

}

.top>ul>li {
    position: relative;
}

.top>ul ul li:hover,
.top>ul ul li:focus {
    background: rgb(14, 223, 143);

}

.top:hover .subtopmenu {
    display: inline;
    z-index: 4;
    background-color: white;
    top: 20px;
}

.topmenu {
    top: 10px;
}

.top button {
    font-size: 19px;
    border-radius: 25px;
    width: 150px;
    height: 40px;
    color: white;
}

.button1 {
    background-color: #683a2f;
    border: none
}

.button2 {
    background-color: red;
    border: none
}


.top>ul>li {
    float: left;
    font-weight: bold;
    position: relative;
    font-size: 1.375rem;
}

.hidden_head {
    display: none;
}

.container1 {
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    position: absolute;
    top: 120px;

}


.inner {
    padding-left: 20px;
    width: 1100px;
    height: 60px;
    margin: auto;
    padding-top: 20px;
    font-size: 1.2rem;
}

.searchId-container {
    width: 100%;
    height: 100%;
    padding-top: 200px;
}

.searchId-box {
    margin: 0 auto;
    padding: 60px 0 160px;
    width: 400px;
}

.searchId-box input {
    width: 100%;
    height: 40px;
    border: 1px solid white;
    border-bottom: 1px solid #ebebeb;
    ;
}

.searchId-box button {
    width: 100%;
    height: 52px;
    border-radius: 10px;
    background-color: rgb(224, 224, 224);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    top: 10px;
}

#userPhoneErr {
    display: none;
}

#resetBtn {
    position: relative;
    top: 20px;
}