.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 10px;
}

.pagination li {
  margin: 0 5px;
  width: 40px;
  height: 40px;
}

.pagination li a {
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid #ddd;
  color: #007bff;
  text-decoration: none;
}

.pagination li a:hover {
  background-color: #ddd;
}

.pagination .active a {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}

.pagination .break-me {
  cursor: default;
  width: 40px;
  height: 40px;
  color: #6c757d;
}
